<div class="slide" style="background-color: {{ slide.backgroundColour }};">
	<div class="spacer-vert"></div>
	<div class="inner">
		{% for item in slide.media.all() %}
			{# {{ item.kind }} #}
			{% if item.kind == "image" %}
				<div class="media" style="background-image: url({{ item.url }});"></div>
				{# <img src="{{ item.url }}" alt="{{ item.title }}" /> #}
			{% endif %}
			{% if item.kind == "video" %}
				<video class="media" src="{{ item.url }}"></video>
			{% endif %}
		{% endfor %}
		<div class="spacer-hor"></div>
		<div class="text-content" style="color: {{ slide.textColour }}; width: 40%;">{{ slide.text }}</div>
	</div>
	<div class="spacer-vert"></div>
</div>
